# Project exclude paths
/out/
/.idea/.gitignore
/.idea/dictionaries/aspok.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/5MTV/GlobalGameJam2020.jar
/.idea/artifacts/GlobalGameJam2020_jar.xml
/src/META-INF/MANIFEST.MF
